// Theme variables
:root {
    --primary-color: #4a90e2; // Cool blue
    --primary-light: #e0e7ff;
    --secondary-color: #50c878; // Fresh green
    --background-color: #f4f7fa; // Light background
    --text-light: #8d99ae;
    --text-color: #333333; // Dark text
    --card-bg: #ffffff; // White cards
    --border-radius: 8px;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      --input-border: #e9ecef;
    --input-focus: #a5b4fc;
    --danger-color: #dc3545; // Red for errors
}



/* Dark mode overrides */
body.dark-mode {
    --primary-color: #33414d;
    --primary-light: white;
    --secondary-color: #81c784;
    --background-color: #121212;
    --text-light: white;
    --text-color: #f5f5f5 !important;
    --card-bg: #1e1e1e;
    --input-border: #444;
    --input-focus: #64b5f6;
    --danger-color: #ef5350;
}